.SidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #ececec;
}
.SidebarChat>h2{
    align-items: center;
}
.SidebarChat:hover{
    background-color: #fffd9e;
}
.sidebarChat__info>h2{
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 8px;
}
.sidebarChat__info{
    margin-left: 15px;
}
a{
    text-decoration: none !important;
    color: black;
}